* {
  font-family: Arial, Helvetica, sans-serif;
}

#headers {
  margin-left: 45px;
}

#main-header {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 28px;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
}

#sub-header {
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 2px;
}

hr {
  height: 1px;
  border: 0px solid #d6d6d6;
  border-top-width: 1px;
  margin: 0px;
}

#content-wrapper {
  padding: 55px;
  padding-top: 0px;
}

#tweet-table td:nth-child(2) {
  width: 100px;
  text-align: left;
}

#tweet-table td:nth-child(3) {
  width: 200px;
}

#twitter-buttons {
  margin-top: 15px;
}
